## Ejercicio 1 : Tranformar cadenas

In [61]:
#Declaro la variable text con todo el texto que quiero que contenga 
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [62]:
# Divido el texto en oraciones, para esto escogo que el punto significa una nueva oración
partes = text.split('.')
partes

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' On average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

In [63]:
# Declaro las palabras clave
palabras = ["average", "temperature", "distance"]
palabras

['average', 'temperature', 'distance']

In [64]:
for oracion in partes:
    for palabra in palabras:
        if palabra in oracion:
            print(oracion)
            break

 On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [65]:
for oracion in partes:
    for palabra in palabras:
        if palabra in oracion:
            print(oracion.replace('C', 'Celsius'))
            break

 On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

## Ejercicio 2 : Formateando cadenas

In [66]:
# Datos con los que vas a trabajar
nombre = "Luna"
gravedad = 0.00162 # in kms
planeta = "Tierra"

In [67]:
titulo = f'Datos sobre la {nombre}'

In [68]:
acontecimiento = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

In [69]:
union = f"""{titulo.title()} 
{acontecimiento} 
""" 
print(acontecimiento)

--------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s2

In [70]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [71]:
print(acontecimiento)

--------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s2

In [73]:
new_acontecimiento = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_acontecimiento.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [75]:
print(new_acontecimiento.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2